{%- if tags.length >= 1 and tags.includes('post') %}
{%- set post = false %}
{%- elif tags.length >= 1 and tags.includes('resource') %}
{%- set resource = true %}
{%- elif tags.length >= 1 and tags.includes('testimonial') %}
{%- set testimonial = true %}
{%- elif tags.length >= 1 and tags.includes('case-study') %}
{%- set caseStudy = false %}
{%- elif tags.length >= 1 and tags.includes('newsletter') %}
{%- set newsletter = false %}
{%- endif %}

<section aria-labelledby="ctaLabel" class="call-to-action">
    <h2 id="ctaLabel">Work with me</h2>
    <blockquote>"I've never heard of you" ~ A world-famous Agile coach</blockquote>
    <p>If you like what you’ve read, <a href="/contact" title"Contact me">contact me</a></p>
    >Contact me now</a>
</section>