<footer class="footer">
    <nav aria-label="repeated primary">
        {% include "navigation-primary.html" %}
    </nav>
    <nav aria-label="secondary">
        {% include "navigation-secondary.html" %}
    </nav>
    <p class="copyright">&copy;&nbsp;copyright 1998 - {{ "" | getCurrentYear }}</p>
    <!-- <address class="adr">
        <span class="org">tempertemper Web Design Ltd</span>
        <span class="extended-address">Clavering House</span>,
        <span class="street-address">Clavering Place</span>,
        <span class="locality">Newcastle upon Tyne</span>,
        <span class="postal-code">NE1 3NG</span>,&nbsp;<span class="country-name">UK</span>
    </address> -->
    <p class="company-details">Company number; 03528410</p>
    <!-- <ul class="utility">
        <li><a href="/privacy-policy">Privacy policy</a></li>
        <li><a href="/accessibility-statement">Accessibility statement</a></li>
        <li><a href="/terms">Terms&nbsp;of&nbsp;business</a></li>
    </ul> -->
</footer>
