<footer class="footer">
    <nav aria-label="repeated primary">
        {% include "navigation-primary.html" %}
    </nav>
    <nav aria-label="secondary">
        {% include "navigation-secondary.html" %}
        <span class="company-details">Site theme by <a href="https://github.com/tempertemper/www.tempertemper.net"
            title="TemperTemper">TemperTemper</a></span>
    </nav>
    <p class="copyright">&copy;&nbsp;copyright {{ "" | getCurrentYear }} jaffamonkey Ltd (03528410)</p>
</footer>