h1,
h2,
h3 {
  @include heading-style;
}

h1 {
  @include heading-l;
}

h2 {
  @include heading-m;
}

h3 {
  @include heading-m;
}

.blinking {
  width: 50px;
  height: 10px;
  background-color: rgba(116,127,224,.65);
  animation-name: blob;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
 50% {
     background-color: transparent
 }
}