body {
  background-color: $colour-main;
  @include dark-mode($colour-dark-mode-main, $colour-dark-mode-white);
  @include high-contrast($background: $colour-high-contrast-main);
}

.wrapper {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  @include container;
}

cursor {
  background-color: rgb(15 23 42);
  width: 1.5rem;
  height: 0.25rem;
  animation: blink 1s infinite;
  display:inline-block;
}

@keyframes blink {
  0%, 100% {
      background-color: transparent;
  }
  50% {
      background-color: rgb(15 23 42);
  }
}
