.visually-hidden {
  @include visually-hidden;
}

img,
video {

  &.natural-dimensions {
    @include overspill-reset;
    max-width: 100%;
    width: auto;
  }
}

cursor {
  background-color: rgb(15 23 42);
  width: 1.5rem;
  height: 0.25rem;
  animation: blink 1s infinite;
  display: inline-block;
}

@keyframes blink {

  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: rgb(15 23 42);
  }
}