---
layout: base.html
---

<article>
    <!-- <img src="/assets/img/icons/apple-touch-icon.png" alt="jaffamonkey" width="64" height="64" decoding="async" /> -->
    <h1>
        {%- if heading %}
            {{- heading | smart | safe }}
        {%- elif category %}
            {{- category | smart | safe }}
        {%- else %}
            {{- title | smart | safe }}
        {%- endif %}
    </h1>
    {%- if intro and not hideIntro %}
        {{- intro | markdown | safe }}
    {%- endif %}
    {{- content | safe }}
</article>

<section aria-labelledby="writing" class="teaser">
    <h2 id="writing">What do I do?</h2>
    <ul class="index-list" reversed>
        {%- set posts = collections.skills | reverse %}
        {%- for post in posts %}
            {%- if post.data.featured === true %}
                {%- include "post-in-list.html" -%}
            {%- endif %}
        {%- endfor %}
    </ul>
</section>

<!-- <section aria-labelledby="writing" class="teaser">
    <h2 id="writing">Test resources</h2>
    <ul class="index-list" reversed>
        {%- set posts = collections.resource | reverse %}
        {%- for post in posts %}
            {%- if post.data.featured === true %}
                {%- include "post-in-list.html" -%}
            {%- endif %}
        {%- endfor %}
    </ul>
</section> -->

<!-- <section aria-labelledby="my-favourite-subjects">
    <h2 id="my-favourite-subjects">Services</h2>
    <ul>
        <li><a href="/skills/quality-engineering">Quality engineering</a> is about designing and building web interfaces that can be used by everyone, something I feel very strongly about</li>
        <li><a href="/skills/accessibility-audit">Accessiblity audit</a> smart, usable interfaces, journeys and interactions is what I do best, and I enjoy analysing others’ great design</li>
    </ul>
</section> -->
